body {
    background-image: linear-gradient(-45deg, #efefef, #fbfbfb);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

li {
    list-style: none;
    padding: 4px 0 4px 40px;
    display: flex;
    align-items: center;
}

li:hover .del-item {
    display: block;
    margin-left: -29.5px;
    transition: 0.3s;
}

ul {
    margin: 0 0 0 -45px;
}

#main {
    min-height: calc(100vh - 35px);
}

footer {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.link {
    color: rgb(54, 49, 61);
    font-weight: normal;
}

.link:hover {
    box-shadow: inset 0 -10px rgba(0, 181, 29, 0.17451);
    color: rgb(0, 181, 29);
}

#title {
    max-width: 600px;
    margin: 0 auto;
    margin-top: -20px;
}

.sessions-container {
    display: flex;
    transition: 0.2s;
    flex-direction: row;
    justify-content: center;
}

.session-filter {
    width: 100px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}

.tag-filter {
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.tag-filter:hover {
    background-color: lightsalmon;
    border-width: 0;
    transition: 0.15s;
    margin-right: -5px;
    color: whitesmoke;
}

.active-tag {
    background-color: salmon;
    color: white !important;
    transition: 0.1s;
    font-weight: bold;
    margin-right: -10px;
}

.session {
    border-radius: 5px;
    text-decoration: none;
    width: 600px;
    margin: 0 auto 20px;
    padding: 15px 20px 10px 40px;
    background-color: white;
    box-shadow: rgba(46, 41, 51, 0.0784314) 0 1px 2px, rgba(71, 63, 79, 0.0784314) 0 2px 4px;
    transition-duration: 250ms, 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, box-shadow, padding;
}

.session:hover {
    transform: translateY(-0.5px);
    box-shadow: rgba(46, 41, 51, 0.0784314) 0 3px 6px, rgba(71, 63, 79, 0.156863) 0 6px 12px;
}

.session-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
}

.tag {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    padding: 3px;
    color: #333333;
    font-size: 12px;
    border-radius: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tag:hover {
    cursor: pointer;
    text-decoration: line-through;
    opacity: 0.8;
    transition: 0.2s;
}

.add-tag {
    background-image: url("./img/icon_tianjia.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    margin-top: 4px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.tag-editor input {
    width: 40px;
    margin-left: 5px;
}

.session-title {
    font-size: 20px;
    font-weight: bold;
    transition: box-shadow .2s linear;
    box-shadow: inset 0 -10px #fadc23;
    display: inline-block;
    min-height: 26px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.session-title:hover {
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 3px 5px;
    margin-right: 5px;
    color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    background-color: rgb(0, 181, 29);
    cursor: pointer;
    font-weight: 400;
    border-radius: 2px;
    min-width: 50px;
    text-align: center;
}

.btn:hover {
    font-weight: 700;
}

.del-btn {
    background-color: #eb5205;
}

.del-res-btn {
    background-color: #35abe5;
}

.footer-sep {
    width: 10px;
}

.upper-border {
    border-top: 1px solid #eeeeee;
    color: #555555;
}

.tag-prompt {
    font-size: 14px;
    color: #999999;
    margin-top: 2px;
    margin-right: 5px;
}

.session-move {
    transition: transform 0.5s;
}

.fav {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.fav-img {
    width: 100%;
    max-height: 100%;
}

.export { display: inline-block }

.export-dropdown {
    display: none;
    position: absolute;
    margin-left: -80px;
    padding: 3px;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: left;
}

.export-session-dropdown {
    display: none;
    position: absolute;
    padding: 2px;
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: left;
    background-color: white;
}

.export:hover .export-dropdown {
    display: block;
}

.export:hover .export-session-dropdown {
    display: inline-block;
}

.del-item {
    padding:0 10px;
    color: #eb5205;
    display: none;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.msg-prompt {
    color: red;
    font-weight: bold;
}

.msg {
    max-width: 900px;
    margin: 0 auto;
    color: #444444;
    background-color: #dddddd;
    padding: 3px 10px;
}

.lose-tabs {
    max-width: 600px;
    text-align: center;
    text-decoration: underline;
    margin: 20px auto;
    color: #444444;
    padding: 3px 10px;
    font-size: 12px;
}

.tips {
    margin-top: 20px;
    font-size: 12px;
    color: #aaaaaa;
}

#file-input {
    position: fixed;
    right: -500px;
}
