<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Tab Space</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <script src="js/velocity.min.js"></script>
  <!-- prod -->
  <script src="js/vue@2.6.10.js"></script>
  <!-- dev -->
  <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>-->

  <script src="js/utility.js"></script>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div id="app">
  <div id="main">
    <div class="msg" v-if="msg && safariMainVersion < 13"><span class="msg-prompt">Note:</span> {{msg}}</div>
    <nav align="right">
      <div class="export">
        <span class="link">{{lang.export}}<small>▼</small></span>
        <div class="export-dropdown">
          <span class="link" href="#" @click="exportTabs('Text')">{{lang.exportText}}</span>
          <br><span class="link" href="#" @click="exportTabs('MD')">{{lang.exportMD}}</span>
          <br><span class="link" href="#" @click="exportTabs('HTML')">{{lang.exportHTML}}</span>
          <br><span class="link" href="#" @click="exportTabs('JSON')">{{lang.exportJSON}}</span>
        </div>
      </div>
      <label for="file-input" class="link">{{lang.import}}<small>(<code>.tabspace</code>)</small></label>
      <input type="file" id="file-input" @change="importTabs" accept=".tabspace">
      <a class="link" target="_blank" href="http://yuanzhoucq.github.io/Tab-Space/settings.html">{{lang.settings}}</a>
    </nav>
    <div id="title">
      <h1>Tab Space</h1>
    </div>
    <div class="lose-tabs" v-if="safariMainVersion === 13 && this.sessions.length <= 1">
      <span class="link"><a :href="lang.loseTabsLink" target="_blank">{{lang.loseTabs}}</a></span>
    </div>
    <div class="sessions-container">
      <div class="session-filter">
        <div class="tag-filter" :class="{'active-tag': activeTag===''}" @click="()=>activeTag=''"><b>{{ lang.all }}</b></div>
        <div class="tag-filter upper-border" v-for="tag in tags" :class="{'active-tag': activeTag===tag}"
             @click="()=>activeTag=tag">{{tag}}</div>
        <div class="tips">Tips: {{ lang.cloudTips }}</div>
      </div>
      <transition-group tag="div" name="session" v-bind:css="false"
                        v-on:before-enter="beforeEnter"
                        v-on:enter="enter"
                        v-on:leave="leave">
        <div class="session" v-for="session in selectedSessions" :key="session[0]">
          <div class="session-title" :id="'id'+session[0]" @click.stop="editSessionName(session[0])"
               @blur="updateSessionName"
          >{{ session[2] || (`${lang.saveAt} ${(new Date(Number(session[0]))).Format("yyyy-MM-dd hh:mm:ss")}`) }}</div>
          <a class="btn" @click.stop="restore(session[0], true, false)">{{lang.restore}}</a>
          <a class="btn del-btn" @click.stop="restore(session[0], false, true)">{{lang.delete}}</a>
          <a class="btn del-res-btn" @click.stop="restore(session[0], true, true)">{{lang.restoreAndDel}}</a>
          <div class="export">
            <a class="btn del-res-btn">{{lang.export}}<small>▼</small></a>
            <div class="export-session-dropdown">
              <span class="link" href="#" @click="exportTabs('Text', [session])">{{lang.exportText}}</span><br>
              <span class="link" href="#" @click="exportTabs('MD', [session])">{{lang.exportMD}}</span><br>
              <span class="link" href="#" @click="exportTabs('HTML', [session])">{{lang.exportHTML}}</span>
            </div>
          </div>
          <ul class="session-sites">
            <li v-for="(tab, tid) in session[1]"><div class="del-item" @click="delItem(tid,session)"><small>X</small></div><div class="fav"><img class="fav-img" :src="getFavicon(tab[1])" onerror="src='img/icon_wangye.svg'" alt="">
            </div><span><a class="link" :href="tab[1]">{{ (tab[0] || tab[1]) | wrap }}</a></span></li>
          </ul>
          <div class="session-tags">
            <div class="tag" v-for="tag in (session[3] || [])" @click="removeTag(tag, session)">{{ tag }}</div>
            <div class="tag-prompt" v-if="!session[3] || session[3].length === 0">{{lang.tagPrompt}}</div>
            <div class="add-tag" v-if="tagEditorId !== session[0]" @click="e => addTag(e, session[0])"></div>
            <div class="tag-editor" v-if="tagEditorId === session[0]">
              <input type="text" @blur="saveTag" autofocus />
            </div>
          </div>
        </div>
      </transition-group>
    </div>
  </div>
  <iframe id="backupStorage" src="https://yuanzhoucq.github.io/Tab-Space/storage.html?method=get" height="0" frameborder="0"></iframe>
  <footer>
    <a class="link" href="mailto:joyuercn@icloud.com">{{lang.contact}}</a><span class="footer-sep"></span>
    <a class="link" href="https://twitter.com/joyuer/status/1164816334305157120" target="_blank">Twitter</a><span class="footer-sep"></span>
    <a class="link" href="http://yuanzhoucq.github.io/Tab-Space" target="_blank">{{lang.about}}</a>
  </footer>
</div>
<script>
  let sessions = JSON.parse(localStorage.getItem("bookmarks") || "[]")
  const app = new Vue({
    el: '#app',
    data: {
      safariMainVersion: Number(navigator.appVersion.match(/Version\/(\d{1,2})\.\d+/)[1]), // "13" for the newest
      msg: "",
      sessions: sessions,
      lang: {},
      activeId: "",
      tmpText: "",
      tagEditorId: false,
      activeTag: "",
      iframe: null,
      iframeLoaded: false,
      newSession: null,
      shouldBackupForOne: true
    },
    mounted() {
      this.iframe = document.querySelector("#backupStorage")
      this.iframe.onload = () => {
        console.log("Backup iframe loaded.")
        this.iframeLoaded = true
      }
      const urlParams = new URLSearchParams(window.location.search);
      let sites = urlParams.get('site');
      if (sites) {
        sites = sites.split("TS#SEP")
        sites = sites.map((site, id, array) => [site, array[id + 1]].reverse()).filter((site, id) => id % 2 === 0)
        const time = String(Date.now())
        this.newSession = [time, sites]
        const last_session = this.sessions[0] || [0, 1]
        if (JSON.stringify(sites) !== JSON.stringify(last_session[1])) {
          this.sessions.unshift(this.newSession)
        } else {
          this.sessions[0][0] = time
        }
        localStorage.setItem("bookmarks", JSON.stringify(this.sessions))
      }
      window.addEventListener("message", evt => {
        console.log("Received checked bookmarks from Tab Space.app.")
        this.syncBookmarks(evt)
      })
      this.fetchLang()
      fetch("https://joyuer.azurewebsites.net/tab-space/info").then(r => r.json()).then(r => {
        const localizedRes = r[navigator.language] || r["en-US"]
        this.msg = localizedRes.msg
      }).catch(e => console.log(e))
      document.addEventListener('keydown', e => {
        if (e.code === 'Enter') {
          e.preventDefault()
          try { document.querySelector('.tag-editor input').blur() } catch (e) {}
          try { document.querySelector(`#id${this.activeId}`).blur() } catch (e) {}
        }
      })
    },
    filters: {
      wrap: function (value) {
        return (value.length > 53 ? value.slice(0, 50) + "..." : value)
      }
    },
    computed: {
      tags() {
        let tags = []
        this.sessions.forEach(session => {
          session[3] && session[3].forEach(tag => !tags.includes(tag) && tags.push(tag))
        })
        return tags
      },
      selectedSessions() {
        return this.activeTag === '' ? this.sessions :
          this.sessions.filter(session => session[3] && session[3].includes(this.activeTag))
      }
    },
    methods: {
      syncBookmarks(evt) {
        if (this.iframeLoaded) {
          // Filter other sites' postMessage
          if (evt.origin.indexOf("joyuer.cn") === -1 && evt.origin.indexOf("yuanzhoucq.github.io") === -1) return

          let dataFromBackup = []
          try {
            const data = JSON.parse(evt.data.value)
            if (validateSessionsArray(data)) {
              dataFromBackup = data
            }
          } catch (e) {
            console.log("Backup bookmarks are not valid.")
          }

          // LOCALSTORAGE WHATEVER && BACKUP UPDATES
          // Cloud backup is the newest backup
          if (dataFromBackup.length > 0 && evt.data.source === "cloud") {
            if (this.newSession) {
              // New session + cloud backup
              this.sessions = [this.newSession].concat(dataFromBackup)
              this.newSession = null
            } else {
              // Completely restore from cloud
              this.sessions = dataFromBackup
            }
            this.saveBookmarks(this.sessions)
          }
          // From local backup (source === "local")
          else if (dataFromBackup.length > 0) {
            // Note: "->" means "override" here.
            // LOCALSTORAGE EMPTY && BACKUP EXISTS
            // The following two cases: backup -> localStorage of size 0 / 1 (with new coming session)
            // Case 0: restore sessions deleted by upgrade
            if (this.sessions.length === 0) {
              this.sessions = dataFromBackup
              localStorage.setItem("bookmarks", JSON.stringify(this.sessions))
            }
            // Case 1: add a new session and restore sessions deleted by upgrade
            else if (this.sessions.length === 1 && this.newSession) {
              this.sessions = this.sessions.concat(dataFromBackup)
              this.newSession = null
              this.saveBookmarks(this.sessions)
            }
            // LOCALSTORAGE EXISTS/UPDATES && BACKUP EXISTS
            // The third case: localStorage with new coming session -> backup
            else if (this.sessions.length > 1 && this.newSession) {
              this.newSession = null
              this.saveBookmarks(this.sessions)
            }
          }
          // LOCALSTORAGE EXISTS/UPDATES && BACKUP EMPTY
          // Automatic backup (backup was empty)
          else if (dataFromBackup.length === 0) {
              this.saveBookmarks(this.sessions)
          }
        } else {
          setTimeout(() => this.syncBookmarks(evt), 200)
        }
      },
      saveBookmarks(sessionsArray) {
        if (!validateSessionsArray(sessionsArray)) throw Error("Invalid sessions!")
        const contentString = JSON.stringify(sessionsArray)
        localStorage.setItem("bookmarks", contentString)
        this.iframe.contentWindow.postMessage(contentString, "*")
      },
      fetchLang() {
        fetch("lang.json").then(r => r.json()).then(r => {
          this.langData = r
          this.lang = r[navigator.language] || r["en-US"]
        })
      },
      getSessionById(id) {
        return this.sessions.find(session => session[0] === id)
      },
      updateSession(session) {
        if (!validateSessionsArray([session])) throw Error("Invalid session!")
        // delete session without any sites
        if (session[1].length === 0) {
          this.sessions = this.sessions.filter(s => s[0] !== session[0])
        } else {
          this.sessions = this.sessions.map(s => s[0] === session[0] ? session : s)
        }
        this.saveBookmarks(this.sessions)
      },
      getFavicon(url) {
        let origin = (new URL(url)).origin
        return origin + "/favicon.ico"
      },
      restore(key, open, del) {
        if (open) {
          let session = this.sessions.find(s => s[0] === key)
          session && session[1].forEach(site => window.open(site[1]))
        }
        if (del) {
          this.sessions = this.sessions.filter(session => session[0] !== key)
          this.saveBookmarks(this.sessions)
        }
      },
      editSessionName(id) {
        this.activeId = id
        const div = document.querySelector(`#id${id}`)
        div.setAttribute('contentEditable', "true")
        div.style.minWidth = "150px";
        div.focus()
        this.tmpText = div.innerText
        document.execCommand('selectAll', false, null)
      },
      updateSessionName() {
        const div = document.querySelector(`#id${this.activeId}`)
        div.style.minWidth = "0";
        let session = this.getSessionById(this.activeId)
        session[2] = div.innerText
        if (session[2]) this.updateSession(session)
        else div.innerText = this.tmpText
      },
      delItem(tid, session) {
        session[1].splice(tid,1)
        this.updateSession(session)
      },
      addTag(e, id) {
        this.tagEditorId = id
      },
      saveTag(e) {
        if (e.target.value) {
          let session = this.getSessionById(this.tagEditorId)
          if (session.length === 2) session.push("")
          if (session.length === 3) session.push([e.target.value])
          else { !session[3].includes(e.target.value) && session[3].push(e.target.value) }
          this.updateSession(session)
        }
        this.tagEditorId = false
      },
      removeTag(tag, session) {
        session[3].splice(session[3].indexOf(tag), 1)
        this.updateSession(session)
      },
      sessionTo(type, session) {
        let s = ""
        switch (type.toLowerCase()) {
          case 'text':
            s += (session[2] || (`${this.lang.saveAt} ${(new Date(Number(session[0]))).Format("yyyy-MM-dd hh:mm:ss")}`))
            session[1].forEach(i => { s += "\n- "; if (i[0]) s += i[0] + ": "; s += i[1] })
            break
          case 'md':
            s += "# " + (session[2] || (`${this.lang.saveAt} ${(new Date(Number(session[0]))).Format("yyyy-MM-dd hh:mm:ss")}`))
            session[1].forEach(i => { s += `\n- [${i[0]}](${i[1]})` })
            break
        }
        return s
      },
      importTabs(e) {
        const file = new FileReader()
        file.onload = e => {
          const importedSessions = JSON.parse(e.target.result)
          if (!validateSessionsArray(importedSessions)) alert("Error: invalid data!")
          else {
            this.sessions = this.sessions.concat(importedSessions)
          }
        }
        file.readAsText(e.target.files[0])
      },
      exportTabs(type, data) {
        let tabs = data || this.sessions
        let s = ""
        switch (type.toLowerCase()) {
          case 'html':
            fetch("export.html").then(r => r.text()).then(r => {
              let content = r.replace("JSON.parse(localStorage.getItem(\"bookmarks\") || \"[]\")", JSON.stringify(tabs))
              content = content.replace("<h1>Tab Space</h1>", `<h1>{{lang.exportTitle}}</h1>`)
              content = content.replace("this.fetchLang()", `this.feedLang(${JSON.stringify(this.langData)})`)
              download("Tab-Space-Exported.html", content)
            })
            break
          case 'json':
            const exported = tabs.map(session => {
              let s = [...session]
              s[0] = String(1 + Number(s[0]))
              return s
            })
            download("backup.tabspace", JSON.stringify(exported))
            break
          case 'text':
            tabs.forEach(i => s += this.sessionTo('text', i) + "\n\n")
            Clipboard.copy(s)
            break
          case "md":
            tabs.forEach(i => s += this.sessionTo('md', i) + "\n\n")
            Clipboard.copy(s)
            break
        }
        let text = this.lang['export'+type]
        this.lang['export'+type] = "OK"
        setTimeout(() => this.lang['export'+type] = text, 1000)
      },
      // List animation
      beforeEnter: function (el) {
        el.style.opacity = 0
      },
      enter: function (el, done) {
        setTimeout(function () {
          Velocity(
            el,
            { opacity: 1},
            { complete: done }
          )
        }, 0)
      },
      leave: function (el, done) {
        el.style.padding = 0
        el.style.height = 0
        el.style.margin = 0
        el.style.opacity = 0.1
        setTimeout(function () {
          Velocity(
            el,
            { opacity: 0},
            { complete: done }
          )
        }, 0)
      }
    }
  })
</script>
</body>
</html>
